backend/app/temp_audio/cebf056c-6ecf-4267-9495-91d4548dd390.mp3
backend/.env.example
backend/.env.example
backend/task-test-2.json
backend/task-test.json
backend/test_voice.mp3
backend/voice_headers.txt
backend/voice_response.mp3
voice_headers.txt
backend/app/firebase/firebase_credentials.json